.navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.1;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

.container::before{
    content: "";
    position: absolute;
    background: url("img/sky2.jpg") no-repeat center center/cover;
    top: 0px;
    left: 0px;
    height: 120%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

.card{
    background-color: rgb(173, 216, 230);
}